<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    <div class="masthead-followup row m-0 text-center text-white bg-secondary" style="background-image: url('/assets/img/apponline.jpg');background-repeat: repeat-x;">
      <div class="col-12 col-md-12 p-3 p-md-5">
<h1><strong><a href="https://aplikasikasir.github.io" title="aplikasi kasir online" class="text-white">APLIKASI KASIR</a></strong></h1>
<p>Kebutuhan akan aplikasi kasir, aplikasi toko,aplikasi restoran.
  aplikasi invoice,aplikasi inventori,aplikasi accounting.
  online dan offline mode android iphone windows.</p>
     </div></div>
     <div class="masthead-followup row m-0 text-center">
     <div class="col-12 col-md-6 p-3 p-md-5 border boder-light">
      <h3><a href="https://aplikasikasir.github.io" title="toko app">RETAIL</a></h3>
<img alt="aplikasi kasir toko" class="img-fluid" src="/assets/img/retail.jpg"/>
<p>Aplikasi retail shop store untuk menunjang usaha retail toko minimarket supermarket baby shop dan berbagai toko lain nya.</p>
<a href="/aplikasitoko/2020/04/03/retail.html" class="button" title="aplikasi toko">More info</a>     
</div>
     <div class="col-12 col-md-6 p-3 p-md-5 border boder-light">
      <h3><a href="https://aplikasikasir.github.io" title="restoran app">RESTO</a></h3>
      <img alt="aplikasi kasir restoran cafe kuliner" class="img-fluid" src="/assets/img/resto.jpg"/>
      <p>Aplikasi restoran cafe untuk usaha kuliner, warkop angkringan, rumah makan, drink shop, coffee shop , depot warung.</p>
      <a href="/aplikasirestoran/2020/04/03/kuliner.html" class="button" title="aplikasi restoran">More info</a>       
    </div>
           <div class="col-12 col-md-6 p-3 p-md-5 border boder-light">
            <h3><a href="https://aplikasikasir.github.io" title="aplikasi office">OFFICE</a></h3>
            <img alt="aplikasi invoice inventori" class="img-fluid" src="/assets/img/office.jpg"/>
            <p>Aplikasi office dan bisnis untuk pencatatan tender project dan penerbitan invoice faktur jual hingga akuntansi.</p>
            <a href="/aplikasibisnis/2020/03/29/bisnis.html" class="button" title="aplikasi invoice inventori">More info</a>     
          </div>
                 <div class="col-12 col-md-6 p-3 p-md-5 border boder-light">
                  <h3><a href="https://aplikasikasir.github.io" title="web design">WEBSITE</a></h3>
                  <img alt="aplikasi pembuatan website toko online" class="img-fluid" src="/assets/img/web.jpg"/>
                  <p>Pembuatan website modern dengan berbagai platform plus animasi dan desain kreatif untuk kebutuhan develop website mu.</p>
                  <a href="/website/2020/03/08/pembuatanweb.html" class="button" title="pembuatan website">More info</a>      
                </div>
                        <div class="col-12 col-md-12 p-3 p-md-5 text-white" style="background-image: url('/assets/img/apponline.jpg');background-repeat: repeat-x;">
                        <h3><a href="https://aplikasikasir.github.io" class="text-white" title="mesin kasir point of sale">POINT OF SALE</a></h3>
                        <p>Dukungan hardware paket mesin kasir set lengkap dan branch terbaik free instalasi dan setting siap digunakan untuk bisnis usaha mu.</p>
                      </div>
                       <div class="col-12 col-md-4 p-3 p-md-5 border boder-light">
                        <h3><a href="https://aplikasikasir.github.io" title="mesin kasir hybrid">HYBRID</a></h3>
                        <img alt="mesin kasir tablet pos" class="img-fluid" src="/assets/img/hybrid.jpg"/>
                        <p>Mesin kasir hybrids tablet pos modern dalam kebutuhan untuk bertransaksi inilah solusi mesin kasir murah untuk mu.</p>
                        <a href="/mesinkasir/2020/03/25/hybrid.html" class="button">More info</a>  
                      </div>
                             <div class="col-12 col-md-4 p-3 p-md-5 border boder-light">
                              <h3><a href="https://aplikasikasir.github.io" title="mesin kasir portable">PORTABLE</a></h3>
                              <img alt="portable kasir" class="img-fluid" src="/assets/img/portable.jpg"/>
                              <p>Mesin kasir portable all in one kompleks system solusi mesin kasir modern dan murah dalam digunakan.</p>
                              <a href="/mesinkasir/2020/03/27/portable.html" class="button">More info</a> 
                            </div>
                                   <div class="col-12 col-md-4 p-3 p-md-5 border boder-light">
                                    <h3><a href="https://aplikasikasir.github.io" title="mesin kasir touchscreen">TOUCHS</a></h3>
                                    <img alt="all in one touchscreen pos" class="img-fluid" src="/assets/img/touch.jpg"/>
                                    <p>All in one touchscreen layar sentuh mesin kasir modern dengan material stylish dan fashionabel desain.</p>
                                    <a href="/mesinkasir/2020/03/28/touchscreen.html" class="button">More info</a> 
                                  </div>
                                         <div class="col-12 col-md-12 p-3 p-md-5 text-white" style="background-image: url('/assets/img/apponline.jpg');background-repeat: repeat-x;">
                                          <h3><a href="https://aplikasikasir.github.io" class="text-white" title="technology aplikasi mesin kasir">TECHNOLOGY</a></h3>
                                          <p>Penggunaan technology develope applikasi terbaik dalam menunjang usaha mu semakin memudahkan dalam aktivitas pembukuan mu.</p>
                                        </div>
                                         <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                          <h3><a href="https://aplikasikasir.github.io" title="aplikasi offline murah">OFFLINE</a></h3>
                                          <img alt="aplikasi murah" class="img-fluid" src="/assets/img/offline.jpg"/>
                                          <p>Offline untuk kebutuhan mesin kasir murah offline.</p>
                                               </div>
                                               <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                                <h3><a href="https://aplikasikasir.github.io" title="aplikasi kasir online">ONLINE</a></h3>
                                                <img alt="aplikasi online" class="img-fluid" src="/assets/img/cloud.jpg"/>
                                                <p>Online mode dengan kebutuhan solusi clouds mode.</p>
                                                     </div>
                                                     <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                                      <h3><a href="https://aplikasikasir.github.io" title="system cepat">FAST</a></h3>
                                                      <img alt="cepat online aplikasi" class="img-fluid" src="/assets/img/fast.jpg"/>
                                                      <p>System tercepat digunakan untuk aplikasi kasir mu.</p>
                                                           </div>     
                                                           <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                                            <h3><a href="https://aplikasikasir.github.io" title="security dabased">SECURE</a></h3>
                                                            <img alt="keamanan aplikasi" class="img-fluid" src="/assets/img/secure.jpg"/>
                                                            <p>Security keamanan akses login dan databased.</p>
                                                                 </div>   
                                                                 <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                                                  <h3><a href="https://aplikasikasir.github.io" title="mobilepos on the go">MOBILE</a></h3>
                                                                  <img alt="mobile pos" class="img-fluid" src="/assets/img/mobile.jpg"/>
                                                                  <p>Mendukung mobile pos on the go akses via smartphone mu.</p>
                                                                       </div>
                                                                       <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                                                        <h3><a href="https://aplikasikasir.github.io" title="aplikasi mesin kasir modern">MODERN</a></h3>
                                                                        <img alt="modern app" class="img-fluid" src="/assets/img/modern.jpg"/>
                                                                        <p>Menggunakan technology terbaru dalam develope nya.</p>
                                                                             </div>
                                                                             <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                                                              <h3><a href="https://aplikasikasir.github.io" title="aplikasi stabil">STABLE</a></h3>
                                                                              <img alt="stabil aplikasi" class="img-fluid" src="/assets/img/stable.jpg"/>
                                                                              <p>System stabil untuk pembukuan dan transaksi.</p>
                                                                                   </div>     
                                                                                   <div class="col-12 col-md-3 p-3 p-md-5 border boder-light">
                                                                                    <h3><a href="https://aplikasikasir.github.io" title="live time support mesin kasir">LIVE</a></h3>
                                                                                    <img alt="layanan mesin kasir" class="img-fluid" src="/assets/img/support.jpg"/>
                                                                                    <p>Layanan live time after sales support troubleshoot mu.</p>
                                                                                         </div>   
                                                                                         <div class="col-12 col-md-12 p-3 p-md-5 text-white" style="background-image: url('/assets/img/apponline.jpg');background-repeat: repeat-x;">
                                                                                          <h3><a href="https://aplikasikasir.github.io" title="digital revolutions" class="text-white">DIGITAL REVOLUTIONS</a></h3>
                                                                                          <p>Kini saat nya update dengan revolusi digital untuk kebutuhan aplikasi software program pembukuan dan mesin kasir modern mu.</p>
                                                                                        </div>
                                                                </div>
      
    {%- include footer.html -%}
  </body>

</html>
